<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmer Signup </title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <label>Name</label>
    <input type="text" name="Name"><br><br>
    <label>Contact</label>
    <input type="text" name="Contact"><br><br>
    <label>Province</label>
    <input type="text" name="Province"><br><br>
    <label>District</label>
    <input type="text" name="District"><br><br>
    <label>Local body</label>
    <input type="text" name="Local_body"><br><br>

    <label>Password</label>
    <input type="password" name="password"><br><br>
    <button type="submit">Submit</button>


</form>


</body>
</html>