{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>
<div class="container upper p-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary upper" style="background-color: white">
        <div class="container-fluid upper">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse upper" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 upper">
                    <li class="nav-item">
                        <a class="nav-link active mx-4" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active mx-4" aria-current="page" href="#">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active mx-4" aria-current="page" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active mx-5" aria-current="page" href="#">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active mx-5 ms-5" aria-current="page" href="#">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active mx-5" aria-current="page" href="#"> Gallery </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active mx-5" aria-current="page" href="#">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<div class="container">
    <div class="card border-0">
        <div class="card-title text-center fw-bolder fs-3 mt-5">
            RESET YOUR PASSWORD
        </div>
        <div class="card-subtitle text-center fs-3 fw-bolder my-3">
            आफ्नो मोबाईल नंबर अथवा ईमेल टाइप गर्नुहोस !
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-2 col-10">

                    <div class="form-floating mb-3 ">
                        <select class="form-control ps-4 " id="select" style="font-size: small;">
                            <option value="contact">मोबाईल नंबर</option>
                            <option value="email">ईमेल</option>

                        </select>
                        <label for="select" class="ms-3 fs-16 ">कुनै एक छान्नुहोस </label>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger text-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form id="form" method="post">
                        {% csrf_token %}
                        <div class="mb-3 ">
                            <label for="exampleInputEmail1" class="form-label" id="variable_criteria">मोबाईल
                                नंबर </label>
                            <input type="text" class="form-control" id="input_box" name="contact">
                            <div id="discription" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const criteria = document.getElementById("select")

    criteria.addEventListener("change", function () {


        selected_criteria = criteria.value;
        console.log(criteria.value)

        if (selected_criteria == "email") {

            variable = document.getElementById("variable_criteria")
            variable.innerText = "ईमेल"
            variable_input_box = document.getElementById("input_box")
            variable_input_box.type = "email"
            variable_input_box.name = "email"

        } else if (selected_criteria == "contact") {
            console.log("we got contact")
            variable = document.getElementById("variable_criteria")
            variable.innerText = "मोबाईल    नंबर     "
            variable_input_box = document.getElementById("input_box")
            variable_input_box.type = "text"
            variable_input_box.name = "contact"
        }
        form.hidden = false

    })


</script>
    </body>
{% endblock %}