{% extends 'base.html' %}
{% load static %}
{% block title %} Official requests {% endblock %}
{% block style %}

{% endblock %}




{% block body %}
<body>
<div class="container-fluid bg-primary">
    <div class="card">
        <div class="card-title text-center fw-bolder mt-2 fs-3">
            OFFICIAL REQUESTS PAGE ! STAFF ONLY
        </div>
        <div class="card-title text-center fw-bolder">
            WELCOME MR ANKIT

        </div>
    </div>

    <div class="container-fluid bg-warning mt-5">
        <table class="table table-hover">
            <tr>
                <thead>
                <th class="text-center">S.N</th>
                <th class="text-center">Name</th>
                <th class="text-center">Contact</th>
                <th class="text-center">Email</th>
                <th class="text-center">Province</th>
                <th class="text-center">District</th>
                <th class="text-center">Local body</th>
                <th class="text-center">Identity proof</th>
                <th class="text-center">Date applied</th>
                <th class="text-center">Options</th>
                <th class="text-center">Current status</th>

                </thead>
            </tr>
            <tbody>
            {% for char in official_requests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ char.Name }}</td>

                    <td>{{ char.Contact_no }}</td>
                    <td>{{ char.email }}</td>
                    <td>{{ char.Province }}</td>
                    <td>{{ char.District }}</td>
                    <td>{{ char.Local_government }}</td>
                    <td><a href="{{ char.identity_proof.url }}"><img src="{{ char.identity_proof.url }}"
                                                                     style="height:100px;width:100px;"></a></td>
                    <td>{{ char.date }}</td>
                    <td>
                        {% if char.status == 'rejected' %}
                            <button><a href="{% url 'qualify' char.id %}"> Qualify</a></button>
                        {% elif char.status == 'waiting' %}
                            <button><a href="{% url 'qualify' char.id %}"> Qualify</a></button>

                            <button><a href="{% url 'reject' char.id %}"> Reject</a></button>

                        {% endif %}
                    </td>
                    <td>
                        {{ char.status }}

                    </td>
                </tr>
            {% endfor %}


            </tbody>


        </table>


    </div>
</div>

</body>
{% endblock %}