<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <title>Official Request</title>
</head>

<body>
<div class="container-fluid">
    <div class="card">
        <div class="card-title text-center fw-bolder mt-2 fs-3">
            Publisher approval page ! STAFF ONLY
        </div>
        <div class="card-title text-center fw-bolder">WELCOME MR ANKIT</div>
    </div>

    <div class="container-fluid mt-5">
        <table class="table table-hover">
            <tr>
                <thead>
                <th>Uploader</th>
                <th>title</th>
                <th>News image</th>
                <th>Date submitted</th>
                <th>Current_score</th>
                <th>Current_status</th>
                <th>Actions</th>
                </thead>
            </tr>
            <tbody>
            {% for char in published_news %}
                <tr>
                    <td>{{ char.Uploader }}</td>
                    <td>{{ char.notice_title }}</td>

                    <td>
                        <a href="{{ char.notice.url }}">
                            <img
                                    src="{{ char.notice.url }}"
                                    style="height: 100px; width: 100px"
                            /></a>
                    </td>
                    <td>{{ char.date_submitted }}</td>
                    <th>{{ char.Uploader.scoreboard_track.Score }}</th>
                    <td>{{ char.status }}</td>

                    {% if char.status == 'waiting' %}
                        <td>
                            <button class="btn btn-success px-4">
                                <a href="{% url 'notice_approve' char.id %}" style="color:white;text-decoration: none;">Publish</a>
                            </button>
                        </td>
                        {% else %}
                        <td>
                        <button class="btn btn-primary px-3" disabled>Published</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
